.footer__nav{
    display: inline-block;
    margin: 20px 30px;
}
footer>nav>ul{
    background-color: #b5191d;
    border-radius: 5px 5px 0 0;
    padding: 0;
    width: 50%;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.3);
}
footer>nav{
    text-align: center;
    margin-top: 20px;
}
