header{
    text-align: center;
    margin-top: 5vw;
}

#logo{
    width: 25%;
    border-radius: 50%;
}

.header__nav{
    display: none;
}

.header__li{
    background-color: var(--var-color-enlace);
    text-align: center;
    list-style: none;
}

.header__li a{
    text-decoration: none;
}

.bg-burguer-button{
    background-color: var(--var-color-enlace);
}

.align-burguer-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (min-width: 768px){ /* TABLET */
    header{
        margin: 0;
        margin-top: -10px;
    }
    
    .navbar{
        display: none;
    }

    .header__nav{
        display: block;
        margin-top: 5vh;
    }

    .header__nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin-top: -30px;
    }

    .header__li{
        width: 13.5vw;
        padding: 1vh 0;
        margin: 0;
    }

}

@media screen and (min-width: 1024px){ /* DESKTOP */
    body{
        margin: 0 15%;
        padding: 0;
    }
    #logo{
        width: 150px;
    }
    header{
        margin-top: 1dvh;
    }
    .header__nav ul{
        margin-top: -4dvh;
    }
    .header__li{
        width: 10.5vw;
        padding: 1vh 0;
        margin: 0;
        margin-top: 2%;
}